page-register {
    .bg-intro {
        background-image: url('../assets/img/intro.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }
    .item-label-floating{
        background: transparent;
        border: none !important;
    }
    .toolbar-background{
        background: rgba(252, 76, 2, .7)

    }
    .back-button.show-back-button,.toolbar-title{
        color : #fff;
    }
}
