<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div padding-top text-center>
    <img class="avatar" src="http://www.gravatar.com/avatar?d=mm&s=140">
    <h2 *ngIf="this.userProfile">{{this.userProfile.name}}</h2>

    <ion-list inset>
      <ion-item>
        <ion-label>{{ 'GENDER' | translate }}</ion-label>
        <ion-select [(ngModel)]="gender" (ionChange)="saveGender(gender)">
          <ion-option *ngFor="let gender of genders" value="{{gender}}">{{gender}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-item (click)="changePassword()">Change Password</button>
    </ion-list>
  </div>
</ion-content>
