page-matches {
  $orange: #EB7E15;
  $white: #fff;

  #please-connect {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #please-connect p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 1.6em;
    top: 30%;
  }

  .scroll {
    height: 100%;
  }

  #map, agm-map {
    width: 100%;
    height: 100%;
  }

  .gm-style-cc {
    display: none;
  }

  #customUserWindow {
    left: 2.5vw !important;
    background: #fff;
    bottom: 5vh !important;
    width: 95vw;
    height: 15vh;
    visibility: hidden;
  }

  .slideIn {
    visibility: visible !important;
    animation: slide 0.5s forwards;
  }

  @keyframes slide {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 5vh;
    }
  }

  .locateButton {

    &[bottom] {
      bottom: 20px;
    }

    &[right] {
      right: 15px;
    }

    .fab {
      background-color: $orange;
      color: $white;
    }

    ion-icon {
      font-weight: bold;
    }

  }

  .infoWindow {
    background-color: #fff;
    width: 90vw;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    top: 50%;
    margin: 5vw;
    left: 0;
    box-shadow: -8px -2px 130px 6px rgba(194, 194, 194, 1);

    .close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
    }

    .challenge-btn {
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      ion-icon {
        padding-right: 5px;
        :before {
          font-size: 20px;
        }
      }
    }
  }

  .avatar-container {
    ion-avatar {
      position: absolute;
      left: calc(50% - 33px);
      top: -35px;
      img {
        border: 3px solid #fff;
        border-radius: 50px
      }
      span {
        font-size: 16px
      }
    }
  }
}



