<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Routes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="this.hasDataClass">

  <ion-list [virtualScroll]="this.routes">
    <ion-item-sliding *virtualItem="let route">
      <ion-card ion-item (click)="navigateToRoute(route)">
        <ion-card-content>
          <ion-img *ngIf="route.img" [src]="route.img"></ion-img>
          <ion-fab right top>
            <button ion-fab>
              <ion-icon name="pin"></ion-icon>
            </button>
          </ion-fab>
          <ion-item>
            {{route.name}}
            <ion-icon name="flag" item-left large></ion-icon>
            <h2 *ngIf="route.street">{{route.street.start}}</h2>
          </ion-item>
          <ion-item>
            <ion-icon name="ios-flag-outline" item-left large></ion-icon>
            <h2 *ngIf="route.street">{{route.street.end}}</h2>
          </ion-item>
          <ion-item>
            <span item-left *ngIf="route.avgtime">{{route.avgtime}}</span>
            <span item-left *ngIf="route.distance">({{route.distance}})</span>
            <button primary clear item-right (click)="beginRoute(route)">
              <ion-icon name="navigate"></ion-icon>
              Start
            </button>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-item-options>
        <button danger (click)="deleteRoute()"> Delete</button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <div *ngIf="this.routes.length !== 0">
    <ion-list [virtualScroll]="this.routes">
      <ion-card ion-item *virtualItem="let route" (click)="navigateToRoute(route)">
        <ion-card-content>
          <ion-img *ngIf="route.img" [src]="route.img"></ion-img>
          <ion-fab right top>
            <button ion-fab>
              <ion-icon name="pin"></ion-icon>
            </button>
          </ion-fab>
          <ion-item>
            <ion-icon name="flag" item-left large></ion-icon>
            <h2 *ngIf="route.street">{{route.street.start}}</h2>
          </ion-item>
          <ion-item>
            <ion-icon name="ios-flag-outline" item-left large></ion-icon>
            <h2 *ngIf="route.street">{{route.street.start}}</h2>
          </ion-item>
          <ion-item>
            <span item-left *ngIf="route.avgtime">{{route.avgtime}}</span>
            <span item-left *ngIf="route.distance">({{route.distance}})</span>
            <button primary clear item-right>
              <ion-icon name="navigate"></ion-icon>
              Start
            </button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div text-center class="no-data-notice animated rubberBand" *ngIf="this.routes === null || this.routes.length === 0">
    <i class="fi flaticon-map-of-roads"></i> <br/>
    <strong>No routes found</strong> <br/>
    Click here to add your first route! <br/>
  </div>

  <ion-fab bottom center>
    <button (click)="addRoute()" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>


