page-routes {
    .card{
        position: relative;
    }
    .item .text-md-secondary{
        color: #32db64;
    }
    .button-clear-md-primary{
        border-color: transparent;
        color: #387ef5;
        background-color: transparent;
    }
    .card-content{
        background-color: #eee;
    }

}
