<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Routes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="routeModel.routes.length != 0">
<ion-list>
  <ion-card ion-item *ngFor="let route of routeModel.routes" (click)="navigateToRoute(route)">
    <ion-card-content>
      <img *ngIf="route.img" src="{{route.img}}">
      <ion-fab right top>
        <button ion-fab>
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-fab>
      <ion-item>
        <ion-icon name="flag" item-left large></ion-icon>
        <h2 *ngIf="route.street">{{route.street.start}}</h2>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-flag-outline" item-left large ></ion-icon>
        <h2 *ngIf="route.street">{{route.street.start}}</h2>
      </ion-item>
      <ion-item>
        <span item-left *ngIf="route.avgtime">{{route.avgtime}}</span>
        <span item-left *ngIf="route.distance">({{route.distance}})</span>
        <button primary clear item-right>
          <ion-icon name="navigate"></ion-icon>
          Start
        </button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-list>

<ion-fab bottom right>
  <button (click)="addRoute()" ion-fab><ion-icon name="add"></ion-icon></button>
</ion-fab>

</ion-content>

<ion-content *ngIf="routeModel.routes.length == 0" (click)="addRoute()">
<div text-center>
  No routes added, <br/> Click here to add your first route! <br/>
  <ion-icon class="icon ion-md-add-circle"></ion-icon>
</div>
</ion-content>
