<ion-menu [content]="content">

  <ion-content>
    <ion-list>
      <ion-item text-center>
        <ion-avatar>
          <img class="avatar" src="http://www.gravatar.com/avatar?d=mm&s=140">
          <h2 color="primary">Username</h2>
        </ion-avatar>
      </ion-item>
      <button menuClose ion-item *ngFor="let p of appPages" [class.active]="isPageActive(p)" (click)="openPage(p)">
        <ion-icon item-left class="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Account
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of accountPages" [class.active]="isPageActive(p)" (click)="openPage(p)">
        <ion-icon item-left class="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
