<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'DASHBOARD' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
       <p>{{ 'WELCOME_BACK' | translate }} {{dashboard.name}} !</p>
       <p>{{ 'LAST_VISIT' | translate }} {{dashboard.lastSeen}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content *ngIf="dashboard.records">
       <ion-list *ngFor="let record of dashboard.records">
         <ion-item>{{record.value}} {{ record.date}}</ion-item>
       </ion-list>
    </ion-card-content>
    <ion-card-content text-center class="records no-data animated rubberBand" *ngIf="!dashboard.records">
      {{ 'NO_RECORDS_YET' | translate }} <br/>
      <ion-icon class="icon ion-md-sad"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content *ngIf="dashboard.routes">
       <ion-list *ngFor="let route of dashboard.routes">
         <ion-item>{{route.name}}</ion-item>
       </ion-list>
    </ion-card-content>
    <ion-card-content text-center class="routes no-data animated rubberBand" *ngIf="!dashboard.routes">
      {{ 'NO_ROUTES_YET' | translate }} <br/>
      <ion-icon class="icon ion-md-sad"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon class="fi flaticon-man-running"></ion-icon></button>
      <button ion-fab><ion-icon class="fi flaticon-history"></ion-icon></button>
      <button ion-fab><ion-icon class="fi flaticon-cardiogram-and-heart"></ion-icon></button>
      <button ion-fab><ion-icon class="fi flaticon-route-1"></ion-icon></button>
      <button ion-fab><ion-icon class="fi flaticon-marathon"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
