# ===================================================================
# Common configuration properties
#
# This configuration is common for all services
# ===================================================================

logging:
  level:
    org.springframework.security: INFO
    org.springframework.web: INFO
    org.springframework.web.servlet.DispatcherServlet: INFO

spring:
  sleuth:
    sampler:
      percentage: 0.2

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 10000

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

security:
  oauth2:
    resource:
      filter-order: 3
      user-info-uri: http://localhost:3000/uaa/users/me
    client:
      accessTokenUri: http://localhost:3000/uaa/oauth/token

management:
  context-path: /manage
  security:
    enabled: false

camel:
  connection:
    rabbitmq:
      host: localhost
      port: 5672
      username: guest
      password: guest
---
spring:
  profiles: production
  rabbitmq:
    host: rabbitmq
  redis:
    host: redis

eureka:
  client:
    serviceUrl:
      defaultZone: http://registry:8761/eureka/

security:
  oauth2:
    resource:
      user-info-uri: http://auth-service:3000/uaa/users/me
    client:
      accessTokenUri: http://auth-service:3000/uaa/oauth/token
camel:
  connection:
    rabbitmq:
      host: rabbitmq
      port: 5672
      username: guest
      password: guest
