    /*
    Flaticon icon font: Flaticon
    Creation date: 02/11/2016 20:59
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../assets/fonts/Flaticon.eot");
  src: url("../assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/Flaticon.woff") format("woff"),
       url("../assets/fonts/Flaticon.ttf") format("truetype"),
       url("../assets/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: "Flaticon";
      src: url("../assets/fonts/Flaticon.svg#Flaticon") format("svg");
    }
  }

  .fi:before{
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

    .flaticon-cardiogram-and-heart:before { content: "\f100"; }
.flaticon-disappointed:before { content: "\f101"; }
.flaticon-gps-route:before { content: "\f102"; }
.flaticon-happy:before { content: "\f103"; }
.flaticon-history:before { content: "\f104"; }
.flaticon-logout:before { content: "\f105"; }
.flaticon-logout-1:before { content: "\f106"; }
.flaticon-man-running:before { content: "\f107"; }
.flaticon-map-of-roads:before { content: "\f108"; }
.flaticon-marathon:before { content: "\f109"; }
.flaticon-people:before { content: "\f10a"; }
.flaticon-people-1:before { content: "\f10b"; }
.flaticon-people-2:before { content: "\f10c"; }
.flaticon-route:before { content: "\f10d"; }
.flaticon-route-1:before { content: "\f10e"; }
.flaticon-route-2:before { content: "\f10f"; }
.flaticon-route-3:before { content: "\f110"; }
.flaticon-runer-silhouette-running-fast:before { content: "\f111"; }
.flaticon-settings-gears:before { content: "\f112"; }
.flaticon-sleepy:before { content: "\f113"; }
.flaticon-stopwatch:before { content: "\f114"; }
.flaticon-urgency:before { content: "\f115"; }
.flaticon-wifi:before { content: "\f116"; }
.flaticon-winner-runner-arriving-to-end-line:before { content: "\f117"; }
.flaticon-wireless-internet:before { content: "\f118"; }
    
$font-Flaticon-cardiogram-and-heart: "\f100";
$font-Flaticon-disappointed: "\f101";
$font-Flaticon-gps-route: "\f102";
$font-Flaticon-happy: "\f103";
$font-Flaticon-history: "\f104";
$font-Flaticon-logout: "\f105";
$font-Flaticon-logout-1: "\f106";
$font-Flaticon-man-running: "\f107";
$font-Flaticon-map-of-roads: "\f108";
$font-Flaticon-marathon: "\f109";
$font-Flaticon-people: "\f10a";
$font-Flaticon-people-1: "\f10b";
$font-Flaticon-people-2: "\f10c";
$font-Flaticon-route: "\f10d";
$font-Flaticon-route-1: "\f10e";
$font-Flaticon-route-2: "\f10f";
$font-Flaticon-route-3: "\f110";
$font-Flaticon-runer-silhouette-running-fast: "\f111";
$font-Flaticon-settings-gears: "\f112";
$font-Flaticon-sleepy: "\f113";
$font-Flaticon-stopwatch: "\f114";
$font-Flaticon-urgency: "\f115";
$font-Flaticon-wifi: "\f116";
$font-Flaticon-winner-runner-arriving-to-end-line: "\f117";
$font-Flaticon-wireless-internet: "\f118";