<!--
  Generated template for the RouteView page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf='selectedRoute === undefined'>New Route</ion-title>
    <ion-title *ngIf='selectedRoute'>{{selectedRoute.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>
  <div *ngIf='selectedRoute === undefined'>
    <agm-map id="routeMap" [styles]="googleMapsProvider.mapStyle" [zoom]="16"
             [minZoom]="googleMapsProvider.options.minZoom"
             [maxZoom]="googleMapsProvider.options.maxZoom"
             [latitude]="googleMapsProvider.options.center.lat"
             [longitude]="googleMapsProvider.options.center.lng"
             [usePanning]="true"
             (mapReady)='loadAPIWrapper($event)'>
      <agm-polyline [geodesic]="true" [editable]="true" [draggable]="true" [strokeWeight]="3" [strokeColor]="FFFFFF" [strokeOpacity]="1.0">
        <agm-polyline-point *ngFor="let p of paths; let i = index" [latitude]="p.lat" [longitude]="p.lng"
        ></agm-polyline-point>
      </agm-polyline>
    </agm-map>
    <div class="form-container" padding>
      <form #routeForm="ngForm" novalidate>
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input [(ngModel)]="route.name" name="routeName" type="text" #routeName="ngModel" spellcheck="false"
                     autocapitalize="off" required></ion-input>
        </ion-item>
        <small [hidden]="routeName.valid || submitted == false" color="danger" padding-left>
          Route name is required
        </small>
      </form>
        <ion-fab center middle>
          <button ion-fab color="orange" class="animated bounce" (click)="saveRoute(routeForm)">
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </ion-fab>
    </div>
  </div>

  <div *ngIf='selectedRoute'>
    <agm-map id="selectedRouteMap" class="animated bounce" [styles]="googleMapsProvider.mapStyle" [zoom]="16"
             [minZoom]="googleMapsProvider.options.minZoom"
             [maxZoom]="googleMapsProvider.options.maxZoom"
             [latitude]="googleMapsProvider.options.center.lat"
             [longitude]="googleMapsProvider.options.center.lng"
             [usePanning]="true"
             (mapReady)='loadAPIWrapper($event)'>
      <agm-polyline [geodesic]="true" [editable]="true" [draggable]="true" [strokeWeight]="3" [strokeColor]="FFFFFF" [strokeOpacity]="1.0">
        <agm-polyline-point *ngFor="let p of paths; let i = index" [latitude]="p.lat" [longitude]="p.lng"
        ></agm-polyline-point>
      </agm-polyline>
    </agm-map>
    <div class="form-container" padding>
      <ion-item>
        {{selectedRoute.name}}
      </ion-item>
      <form #routeForm="ngForm" novalidate>
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input [(ngModel)]="selectedRoute.name" name="routeName" type="text" #routeName="ngModel" spellcheck="false"
                     autocapitalize="off" required></ion-input>
        </ion-item>
        <small [hidden]="routeName.valid || submitted == false" color="danger" padding-left>
          Route name is required
        </small>
      </form>
    </div>
  </div>

</ion-content>
